@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

div:hover .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

div:hover .animatedFadeInUp {
  opacity: 0;
}

div:hover .fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
.section-title-bg {
  color: #f0f0f0;
  font-size: 100px;
  line-height: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 1;
  font-family: Monoton, cursive;
  text-transform: uppercase;
}

.service-item {
  background-color: #f5f8f9;
  padding: 25px;
  margin-top: 30px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.service-item:hover {
  background-color: #ffffff;
}

.glyph {
  display: block;
}
i {
  color: #6200ee;
  font-size: 60px;
}
html {
  scroll-behavior: smooth;
}
